#body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #000;
  transition: color 0.3s ease;
  /* show scroll bar */
  overflow: hidden;
}

.dark-mode #body {
background-color: #000;
color: #fff;
}

.dark-mode .middleContent h1 {
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1.5rem;
  padding-left: 1rem;
}

header {
  height: 50px; 
}

.logo .darkLogo {
  display: none;
}

.dark-mode .logo .darkLogo {
  display: block;
  margin-top: 0;
}

.dark-mode .logo .whiteLogo {
  display: none;
}

.nav .right-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 0.5rem;
  padding-right: 1.5rem;
}

.hamburgerContainer {
  font-size: 1.8rem;
  color: #000;
  margin: 5px 20px 0 0;
  display: none;
  cursor: pointer;
}

/* Styles for the mobile navigation menu */
#navMenuHam {
  list-style: none;
  margin: 0;
  padding: 0;
}


#navMenuHam li {
  margin-bottom: 10px;
}

.hamburgerContainer .dark-ham {
  display: none;
}

/*
888888888888888 */
/* .dark-mode #navMenuHam{
  background-color: #000;
  color: #fff;
} */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}


/* Additional styles for the close button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px; /* Adjust the font size as needed */
  cursor: pointer;
}

/* .dark-mode .closeButton {
  color: #fff;
} */


/* .dark-mode .hamburgerContainer {
  font-size: 1.8rem;
  color: #fff;
} */

.nav ul {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0;
}
.nav ul li {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}
.nav ul li .active{
  text-decoration: overline;
  color: red;
}
.nav ul li:hover{
    text-decoration:overline;
    color: red;
}

.dark-mode .nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}
.dark-mode .nav ul li .active{
  text-decoration: overline;
  color: red;
}
.dark-mode .nav ul li:hover{
    text-decoration:overline;
    color: red;
}

.dark-mode .leftFooter a{
    color: #fff
}
.dark-mode .foot{
    color: #fff
}



.toggle-button {
        margin-right: 15px;
    }




.container {
    display: flex;
    margin-left: 6rem;
    height: 100vh;
    
}


.leftSidebar {
    width: 90%;
}

.newHeroImage {
  margin: auto;
  position: absolute;
  left: 55%;
  
  /* top: 40%; */
  /* left: 40%; */
}

/*To Center Items vertically within container 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.container {
  position: relative;
  height: 400px;
  border: 2px solid #006100;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

*/
.relativeContainer {
    position: relative;
    height: 30rem;
}



.middleContent {
    margin: 0;
    position: absolute;
    top: 30%;
    width: 80%;
}

h1 {
    font-size: 6rem;
    font-family: 'Lora', serif;
}
.middleContent p {
    margin-top: -2rem;
    font-size: 2.2rem;
    color: rgba(185, 21, 21, 0.89);
    font-family: 'Inter', sans-serif;
}
.middleContent h4 {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.89);
    font-family: 'Inter', sans-serif;
    /* margin-top: rem; */
}
.middleContent button {
    font-size: 1.1rem;
    margin-top: 10px;
    padding: 10px 50px 10px 50px;
    background-color: red;
    color: white;
    height: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.foot {
    margin-top: 18rem;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot ul {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5rem;
    padding: 0;
   flex-wrap: wrap;
} 
.foot ul li {
    list-style-type: none;
    font-size: 22px;
    font-family: 'Architects Daughter', cursive;
        
} 
.rightFooter p{
    font-family: 'Architects Daughter', cursive;
        
} 
.foot ul a {
    text-decoration: none;
    color: #000;
}





.rightSidebar {
    width: 45%;
    height: 100%;
    background-color: #000;
    color: white;
}


/* ------------------------------------------------------- */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox*/
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000;
    border:1px solid white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* ------------------------------------------------------- */

  .heroImage {
    height: 95%;
    background-image:url(../images/boss.png);
    background-size: cover;
    position: relative;
  }

  .heroImage .rightFooter {
    font-family: 'Architects Daughter', cursive;
    position: absolute;
    top: 49rem;
    left: 15rem;
  }


  /* ------------------------------------------ */



@media only screen and (max-width: 1600px) {
  h1 {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 1500px) {
  .rightFooter p{
    color: #fff;
    z-index: 0;
    position: relative;
} 
}

@media only screen and (max-width: 1450px) {
  h1 {
    font-size: 5rem;
  }
  
}
@media only screen and (max-width: 1220px) {
  .middleContent p {
    font-size: 2rem;
}
  .newHeroImage {
  left: 50%;
}

.foot ul {
  gap: 4rem;
} 

.foot ul li {
  font-size: 18px;
      
} 

}


@media only screen and (max-width: 911px) {
  h1 {
    font-size: 3.5rem;
  }
  .middleContent p {
    font-size: 1.8rem;
    margin-top: 1rem;
}
  .middleContent {
    z-index: 2;
    width: 96%;
}
.middleContent h4 {
  /* display: none; */
}
  .newHeroImage {
  left: 4%;
}

.foot ul {
  gap: 3rem;
  z-index: 2;
} 

.overlayy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6); /* Adjust the alpha value for the desired transparency */
  /* opacity: 0; */
  /* transition: opacity 0.3s ease-in-out; */
  z-index: 1;
}

.logo, .hamburgerContainer {
  z-index: 2;
}
.overlay {
  z-index: 5;
}



.rightFooter p{
  color: #000;
  z-index: 2;
} 

.leftSidebar {
  width: 95%;
}

.container {
margin-left: 2.8rem;

}

}






@media only screen and (max-width: 620px) {
  .foot ul {
    display: none;
  } 
  .newHeroImage {
    left: 1%;
  }

  body {
    overflow: auto;
  }
}






/* @media only screen and (max-width: 1201px) {
  
  .container {
    display: block;
    margin-top: 8rem;
    margin-left: 10%;
    height: 100vh;
    
}

.middleContent h1 {
  font-size: 5rem;
}
  


} */



@media only screen and (max-width: 1011px) {
  /* .logo img {
    width: 35%;
  } */
  .nav ul {
    display: none;
  }
  /* .nav ul.active {
    display: block;
  } */

  .nav .toggle-button {
    display: none;
  }
  
  
  #navMenuHam.active {
    display: block;
  }
  
  /* --------------- */
  .dark-mode #navMenuHam.active {
    display: block;
  }

  .dark-mode #navMenuHam {
    background-color: #000;
  }
  .dark-mode .closeButton {
    color: #ffffff;
  }
  .dark-mode #navMenuHam {
    background-color: #000;
  }
  /* --------------- */
  
  .hamburgerContainer {
    display: block; 
    cursor: pointer;
    padding: 10px;   
  }
  

/* -------------- dark mode hamburger -------- */
  .dark-mode .hamburgerContainer .light-ham {
    display: none;
  }
  .dark-mode .hamburgerContainer .dark-ham {
    display: block;
  }
/* -------------- dark mode hamburger -------- */


  #overlay.active {
    display: block;
  }

 

  #navMenuHam {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      background-color: #fff;
  }
  .text {
    margin-top: 6.7rem;
  }
  .nav .right-nav {
    padding-top: 0;
  }
}